<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <dubbo:application name="druid-provider" owner="jj" organization="buaa"/>
    <dubbo:registry address="zookeeper://140.143.4.171:2181"/>
    <dubbo:protocol name="dubbo" port="20880" />
    <dubbo:monitor protocol="registry" />
    <dubbo:service interface="jj.druid.api.Druid" ref="druidService"/>
    <dubbo:service interface="jj.druid.api.AccountService" ref="accountService"/>

    <!-- dubbo配置 -->

    <bean id="accountService" class="jj.druid.provider.AccountServiceImpl">
        <property name="accountDao" ref="accountDao" />
    </bean>

    <bean id="accountDao" class="jj.druid.provider.AccountDao">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>

    <bean id="druidService" class="jj.druid.provider.DruidImpl">
        <property name="druidDataSource" ref="dataSource" />
    </bean>

</beans>