<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="accountService" class="buaa.jj.accountservice.provider.AccountServiceImpl">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
        <property name="accountDao" ref="accountDao" />
    </bean>

    <bean id="accountDao" class="buaa.jj.accountservice.provider.AccountDao"/>

    <bean id="druidService" class="buaa.jj.accountservice.provider.DruidImpl">
        <property name="druidDataSource" ref="dataSource" />
    </bean>

    <bean id="exceptionAdvisor" class="buaa.jj.accountservice.exceptions.ExceptionAdvisor"/>

    <aop:config>
        <aop:pointcut id="providers" expression="execution(* buaa.jj.accountservice.provider.*Impl.*(..))"/>
        <aop:advisor advice-ref="exceptionAdvisor" pointcut-ref="providers"/>
    </aop:config>

</beans>