<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="buaa.jj.accountservice.mybatis.Mapper">
    <cache type="org.mybatis.caches.redis.RedisCache" />

    <select id="selectAgencyID" resultType="int" parameterType="map">
        SELECT IFNULL(MAX(agencyID),-1)
        FROM agencyinformation
        WHERE agencyID IS NOT NULL
        <choose>
            <when test="agencyPasswd != null">
                AND agencyPasswd = #{agencyPasswd}
                <choose>
                    <when test="agencyID != null">
                        AND agencyID = #{agencyID}
                    </when>
                    <when test="agencyName != null">
                        AND agencyName = #{agencyName}
                    </when>
                </choose>
            </when>
            <when test="agencyID != null">
                AND agencyID = #{agencyID}
            </when>
            <when test="agencyName != null">
                AND agencyName = #{agencyName}
            </when>
        </choose>
    </select>
    
    <select id="selectUserID" resultType="int" parameterType="map">
        SELECT IFNULL(MAX(UserID),-1)
        FROM userinformation
        WHERE userID IS NOT NULL
        <choose>
            <when test="userPasswd != null">
                AND userPasswd = #{userPasswd}
                <choose>
                    <when test="userID != null">
                        AND userID = #{userID}
                    </when>
                    <when test="userName != null">
                        AND userName = #{userName}
                    </when>
                </choose>
            </when>
            <when test="userID != null">
                AND userID = #{userID}
            </when>
            <when test="userName != null">
                AND userName = #{userName}
            </when>
            <when test="userIdentity != null &amp;&amp; agency!= null">
                AND userIdentity = #{userIdentity}
                AND agency = #{agency}
            </when>
        </choose>
    </select>

    <select id="selectUserAvailableBalance" resultType="double">
        SELECT availableBalance
        FROM userinformation
        WHERE userID = #{userID}
    </select>

    <select id="selectUser" resultType="map">
        SELECT userID,userName,userEmail,userRealName,userTel,userIdentity,agency,availableBalance,frozenBalance,isFrozen
        FROM userinformation
        WHERE userID = #{userID}
    </select>

    <select id="selectUserIdentity" resultType="int">
        SELECT IFNULL(MAX(UserID),-1)
        FROM userinformation
        WHERE userName = #{userName}
        AND userIdentity = #{userIdentity}
    </select>

    <select id="selectAgency" resultType="map">
        SELECT agencyID,agencyName,agentTel,agentName,agentEmail
        FROM agencyinformation
        WHERE agencyID = #{agencyID}
    </select>

    <select id="selectAgencyUser" resultType="integer">
        SELECT userID
        FROM userinformation
        WHERE agency = #{agency}
    </select>

    <select id="selectTransactionID" parameterType="map" resultType="integer">
        SELECT transactionID
        FROM transactioninformation
        WHERE transactionDate BETWEEN #{startTime} AND #{endTime}
        <if test="agencyID != null">
            AND (payerAgencyID = #{agencyID} OR receiverAgencyID = #{agencyID})
        </if>
        <if test="userID != null">
            AND (payerUserID = #{userID} OR receiverUserID = #{userID})
        </if>
    </select>

    <insert id="insertUser">
        INSERT INTO userinformation(userName, userPasswd, userRealName, userTel, userEmail, userIdentity, agency)
        VALUES (#{userName},#{userPasswd},#{userRealName},#{userTel},#{userEmail},#{userIdentity},#{agency})
    </insert>

    <insert id="insertTransaction">
        INSERT INTO transactioninformation
        VALUES (#{transactionID},#{transactionType},#{transactionDate},
        <choose>
            <when test="payerAgencyID != null &amp;&amp; payerUserID != null">
                #{payerAgencyID},#{payerUserID},
            </when>
            <otherwise>
                NULL,NULL,
            </otherwise>
        </choose>
        <choose>
            <when test="receiverAgencyID != null &amp;&amp; receiverUserID != null">
                #{receiverAgencyID},#{receiverUserID},
            </when>
            <otherwise>
                NULL,NULL,
            </otherwise>
        </choose>
        #{transactionMoney})
    </insert>

    <update id="updateUserPasswd">
        UPDATE userinformation
        SET userPasswd = #{userPasswd}
        WHERE userID = #{userID}
    </update>

    <update id="updateIsFrozen">
        UPDATE userinformation
        SET isFrozen = #{isFrozen}
        WHERE userID = #{userID}
    </update>

    <update id="changeBalance">
        UPDATE userinformation
        SET availableBalance = availableBalance + #{amount}
        WHERE userID = #{userID}
    </update>

    <update id="updatePlatformBalance">
        UPDATE platforminformation
        SET platformBalance = platformBalance + #{amount}
    </update>

    <update id="updateLiquidationBalance">
        UPDATE platforminformation
        SET liquidationBalance = liquidationBalance + #{amount}
    </update>

    <resultMap id="User" type="buaa.jj.accountservice.mybatis.User">
        <id property="id" column="id" />
        <id property="name" column="name" />
    </resultMap>

</mapper>